{% load static %}
<section class="section p-2" style="background-color:#191970">
        <div class="container">
            <nav class="navbar navbar-expand-lg" data-bs-theme="dark">
                <a class="navbar-brand" href="{% url 'index' %}">
                    <img src="{% static 'img/logo-branco.png'%}" width="50" height="50">
                </a>
                <div class="container-fluid">
                    <a class="navbar-brand" href="{% url 'index' %}">Início</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <a class="navbar-brand" href="#">Alugar</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <a class="navbar-brand" href="#">Vender</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <a class="navbar-brand" href="#">Anunciar</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarCliente" role="button"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    Clientes
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="{% url 'cliente_adicionar' %}">Cadastrar Cliente</a></li>
                                    <li><a class="dropdown-item" href="{% url 'clientes' %}">Listar Clientes</a></li>
                                </ul>
                            </li>

                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarProprietario" role="button"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    Proprietarios
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="{% url 'proprietario_adicionar' %}">Cadastrar Proprietario</a></li>
                                    <li><a class="dropdown-item" href="{% url 'proprietarios' %}">Listar Proprietários</a></li>
                                </ul>
                            </li>

                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarCorretor" role="button"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    Corretores
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="{% url 'corretor_adicionar' %}">Cadastrar Corretor</a></li>
                                    <li><a class="dropdown-item" href="{% url 'corretores' %}">Listar Corretores</a></li>
                                </ul>
                            </li>

                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarContrato" role="button"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    Contratos
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="#">Novo Contrato...</a></li>
                                    <li><a class="dropdown-item" href="#">Listar Contratos Ativos</a></li>
                                </ul>
                            </li>
                                                        <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarImoveis" role="button"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    Imóveis
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="{% url 'imovel_adicionar' %}">Cadastrar Imóvel</a></li>
                                    <li><a class="dropdown-item" href="{% url 'imoveis' %}">Listar Imóveis</a></li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarVisitas" role="button"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    Visitas
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="{% url 'visitas' %}">Cadastrar Visita</a></li>
                                    <li><a class="dropdown-item" href="#">Listar Visitas</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </section>