{% extends 'principal.html' %}
{% load django_bootstrap5 %}
{% load static %}
{% block content %}
    <section class="section">
        <div class="container">
            <form action="" method="GET">
                <div class="form-group row p-3">
                    <label class="col-sm-2 col-form-label">Propriedades do imóvel: </label>
                    <div class="col-sm-8">
                        <input class="form-control" type="text" name="buscar" value="{{ request.GET.buscar }}"
                               placeholder="Digite o código do imóvel">
                    </div>
                    <div class="col-sm-2">
                        <button type="submit" class="btn btn-primary">
                            Buscar
                        </button>
                    </div>
                </div>
            </form>
            {% if object_list %}
<!--            {% indica bloco de instruçoes-->
<!--            mostra as coisa se tiver gente dentro da lista/se a lista nao tiver vazia-->
                <div class="card-body">
                    <h3 class="text-center">Imóveis Cadastrados</h3>
                            {% for imovel in object_list %}
                                    <div class="col-md-4 mb-4">
        <div class="card h-100 shadow">
            <img src="{{ imovel.fotos.url }}" class="card-img-top" style="height: 200px; object-fit: cover;">
            <div class="card-body">
                <h5 class="card-title">{{ imovel.get_tipo_imovel_display }} - {{ imovel.endereco }}</h5>
                <p class="card-text">
                    <i class="bi bi-house-door"></i> {{ imovel.quartos }} quartos<br>
                    <i class="bi bi-currency-dollar"></i> R$ {{ imovel.valor_iptu }}
                </p>
            </div>
            <div class="card-footer bg-white">
                <a href="{% url 'imovel_exibir' imovel.id %}" class="btn btn-sm btn-primary">Detalhes</a>

            </div>
        </div>
    </div>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="d-flex justify-content-center">
                        {% bootstrap_pagination object_list url="/imoveis?page=1" size="sm" %}
                    </div>
                </div>
            {% else %}
                <h5>Não existem imóveis cadastrados!</h5>
            <a class="btn btn-primary btn-lg text-white" href="{% url 'imovel_adicionar' %}" role="button">Cadastrar imóvel</a>
            {% endif %}
        </div>
    </section>
{% endblock %}